.project {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  background-color: #dff9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  max-width: 500px;
}

.projectName {
  font-size: 1.5rem;
  font-weight: bold;
}



.projectDescription {
  font-size: 1rem;
  color: #333;
  margin-left: 20px;
  max-width: 400px;
}
.projectInfo {
  flex: 1;
  display: grid;
  grid-template-columns: auto 1fr; /* Adjust column widths as needed */
}

.middleSection {
  display: flex;
  flex-direction: column;
}

.projectLink {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #b906bc;
  font-weight: bold;
  margin-right: 20px;
}

.projectLink:hover {
  text-decoration: underline;
}

.button {
  background-color: #ffb445 !important;
  color: #fff;
  border-color: #d83bd6 !important;
}

.button2 {
  background-color: #d83bd6 !important;
  color: #fff;
  border-color: #ffb445 !important;
}
