.project {
  border: 1px solid #ddd;
  padding: 20px !important;
  margin: 10px;
  background-color: #f2f2f2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
  height: 700px; /* Adjust the height to your desired fixed height */
}

.middleSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}

.projectLink {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #b906bc;
  font-weight: bold;
  margin-right: 20px;
}

.projectLink:hover {
  text-decoration: underline;
}

.button {
  background-color: #ffb445 !important;
  color: #fff;
  border-color: #d83bd6 !important;
  font-weight: bold;
}

.button2 {
  background-color: #d83bd6 !important;
  color: #fff;
  border-color: #ffb445 !important;
  font-weight: bold;
}

.largeTitle {
  font-size: 35px;
  margin: 10px;
}

.description {
  margin-top: 15px;
  margin-bottom: 15px;
}

.cardImage {
  width: 100%;
  height: 300px;
  object-fit: contain;
}
